*.cas.h5
*.dat.h5
*.mp4
*.avi
*.png
*.pyc
old/
fft/
.venv/
__pycache__/
.vscode/
test_datasets/data*
*.out
*.err
droplet_sizing_script/libudf
droplet_sizing_script/vof_droplet_sizing
droplet_sizing_script/no.c
droplet_sizing_script/no.h
droplet_sizing_script/temp.c
